<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>MY GALLARY</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur beatae corporis, earum eos error fugit illum iste nobis non nostrum rem repellat tempora voluptas voluptates! Dolor minima neque sunt?</span><span>Assumenda atque aut, cupiditate, dolorem error eveniet laborum libero neque optio, quos repellat similique sit. Aperiam dolore doloribus eum molestias, possimus rerum tempora vitae voluptate voluptates voluptatum. Dolorum molestiae, velit!</span><span>A accusantium ad aspernatur deleniti doloremque doloribus explicabo impedit ipsa itaque, maiores modi natus neque nihil possimus quaerat quis ut voluptatibus. Dolore earum explicabo minus numquam, reiciendis repellendus saepe tenetur?</span></p>
<img src="{% static 'assets/resources/img_2.png' %}" alt="">
<img src="{% static 'assets/resources/img_2.png' %}" alt="">
<img src="{% static 'assets/resources/img_2.png' %}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quis tempore ullam! Autem, cumque dicta earum eos impedit incidunt laudantium numquam omnis perspiciatis quasi repellendus repudiandae sequi tempore ullam vel.</span><span>Animi autem beatae, cupiditate doloribus eligendi illum, ipsa labore maxime placeat ratione repellat reprehenderit sit, veritatis. Amet architecto, asperiores cupiditate doloremque in laudantium minima non quam quidem saepe tempore, ut?</span><span>Ad, consequatur distinctio eaque earum eos est ex magnam minima odit possimus quasi quibusdam reiciendis sint sit soluta temporibus vitae voluptate voluptatem. Dolore dolores expedita, explicabo quam ratione veritatis voluptatum!</span></p>
</body>
</html>