<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>personal details</title>
       {% load static %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
     <script src="{% static 'js/bootstrap.min.js' %}"></script>              
</head>
<body>
<h1 class="text-danger text-center">PRODUCT INFORMATION</h1>
<p class=""><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis ea facere impedit ipsa ipsum iure laborum magnam magni neque odio porro qui quo similique, temporibus velit veniam veritatis voluptas?</span><span>Autem blanditiis delectus enim esse, impedit iure quia ratione repellat. Amet commodi ducimus facilis fuga, laudantium maxime molestiae quis quo saepe totam? Autem illum labore officia quae qui vel vitae.</span></p>
<table class="table table-striped table-hover table-danger">

    <h2>PRODUCTS</h2>
<tr>
    <th>PRODUCT ID</th>
    <th>PRODUCT NAME</th>
    <th>PRODUCT QUANTITY</th>
    <th>PRODUCT PRICE</th>
</tr>
    <tr>
    <td>1</td>
    <td>laptop</td>
    <td>1</td>
    <td>ksh.34,000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>phone</td>
      <td>2</td>
      <td> ksh.64,000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>remote</td>
        <td>3</td>
        <td>ksh.4000</td>
    </tr>
    <tr>
        <td>4</td>
        <td>television</td>
        <td>4</td>
        <td>ksh.42,000</td>
    </tr>
</table>
</body>
</html>