h1{
    text-align: center;
    text-shadow: 2px 12px 12px olivedrab;
    background-color: greenyellow;
    line-height: 100px;
}


.home{

    display: flex;
}
img{
    width: 400px;
    height:500px;
    margin-right: 20px;
    opacity: 0.8;
}
#paragraph{
    font-weight: bold;
}
.main{
    display: flex;
    background-color: gold;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
}
.myimage{
    width: 300px;
    height: 200px;
    margin-right: 20px;
    border-radius: 20px;
}
.main:hover{
    background-color: blueviolet;
}